.meetingDetails {
  position: fixed;
  z-index: 1000;
  border: 1px solid black;
  box-shadow: 3px 3px 12px 5px #00000040;
  border-radius: 21px;
  margin-top: 5vh;
}

.screen-detail {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .screen-detail .div-detail {
    background-color: #ffffff;
    height: 520px;
    overflow: hidden;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 75px;
    width: 880px;
    border: 1px solid black;
  }
  
  .screen-detail .overlap-group-detail {
    background-size: 100% 100%;
    height: 219px;
    left: 59px;
    position: absolute;
    top: 86px;
    width: 390px;
  }
  
  .screen-detail .ellipse-detail {
    background-color: #aff73c;
    border-radius: 2px;
    height: 4px;
    left: 179px;
    position: absolute;
    top: 201px;
    width: 4px;
  }
  
  .screen-detail .ellipse-2-detail {
    background-color: #aff73c;
    border-radius: 2px;
    height: 4px;
    left: 193px;
    position: absolute;
    top: 201px;
    width: 4px;
  }
  
  .screen-detail .ellipse-3-detail {
    background-color: #aff73c;
    border-radius: 2px;
    height: 4px;
    left: 207px;
    position: absolute;
    top: 201px;
    width: 4px;
  }
  
  .screen-detail .text-wrapper-detail {
    color: #000000;
    font-family: "ABeeZee", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 480px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: 124px;
    white-space: nowrap;
  }
  
  .screen-detail .element-detail {
    color: #000000;
    font-family: "Abel", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 480px;
    width: 360px;
    height: 125px;
    overflow-y: scroll;
    display: block;
    word-break:break-all;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 202px;
    box-shadow: 0px 0px 1px 1px gray;
  }
  
  .screen-detail .text-wrapper-2-detail {
    color: #5b1fd9;
    font-family: "Abel", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 474px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 107px;
    white-space: nowrap;
  }
  
  .screen-detail .text-wrapper-3-detail {
    color: #5b1fd9;
    font-family: "Abel", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 74px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 323px;
    white-space: nowrap;
  }

  .screen-detail .text-wrapper-10-detail {
    color: #5b1fd9;
    font-family: "Abel", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 480px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 93px;
    white-space: nowrap;
  }

  .screen-detail .text-wrapper-11-detail {
    color: #5b1fd9;
    font-family: "Abel", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 480px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 173px;
    white-space: nowrap;
  }
  
  .screen-detail .text-wrapper-4-detail {
    color: #5b1fd9;
    font-family: "Abel", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 466px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 347px;
    white-space: nowrap;
  }
  
  .screen-detail .p-detail {
    color: #000000;
    font-family: "Abel", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 116px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 363px;
    white-space: nowrap;
  }
  
  .screen-detail .text-wrapper-5-detail {
    color: #000000;
    font-family: "Abel", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 116px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 407px;
    white-space: nowrap;
  }
  
  .screen-detail .line-detail {
    height: 1px;
    left: 474px;
    object-fit: cover;
    position: absolute;
    top: 85px;
    width: 348px;
  }
  
  .screen-detail .img-detail {
    height: 1px;
    left: 474px;
    object-fit: cover;
    position: absolute;
    top: 208px;
    width: 348px;
  }
  
  .screen-detail .mask-group-detail {
    height: 39px;
    left: 520px;
    position: absolute;
    top: 147px;
    width: 39px;
  }
  
  .screen-detail .mask-group-2-detail {
    height: 39px;
    left: 474px;
    position: absolute;
    top: 147px;
    width: 39px;
  }
  
  .screen-detail .mask-group-3-detail {
    height: 39px;
    left: 612px;
    position: absolute;
    top: 147px;
    width: 39px;
  }
  
  .screen-detail .mask-group-4-detail {
    height: 39px;
    left: 566px;
    position: absolute;
    top: 147px;
    width: 39px;
  }
  
  .screen-detail .mask-group-5-detail {
    height: 39px;
    left: 658px;
    position: absolute;
    top: 147px;
    width: 39px;
  }

  .mask-group-6-detail {
    height: 39px;
    left: 714px;
    position: absolute;
    top: 147px;
    width: 39px;
  }
  
  .screen-detail .light-s-detail {
    height: 23px;
    left: 75px;
    position: absolute;
    top: 365px;
    width: 19px;
  }
  
  .screen-detail .vector-detail {
    height: 17px;
    left: 74px;
    position: absolute;
    top: 411px;
    width: 30px;
  }
  
  .screen-detail .text-wrapper-6-detail {
    color: #ffffff;
    font-family: "Abel", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 449px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    text-align: center;
    top: 519px;
    white-space: nowrap;
  }
  
  .screen-detail .overlap-detail {
    background-color: #5b1fd9;
    border-radius: 28px;
    height: 51px;
    left: 263px;
    position: absolute;
    top: 446px;
    width: 348px;
    cursor: pointer;
  }
  
  .screen-detail .text-wrapper-7-detail {
    color: #ffffff;
    font-family: "Abel", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 144px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 12px;
    white-space: nowrap;
  }

  .text-wrapper-7-detail-join {
    color: #ffffff;
    font-family: "Abel", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 119px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 12px;
    white-space: nowrap;
  }
  
  .screen-detail .text-wrapper-8-detail {
    color: #000000;
    font-family: "Abel", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 516px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 382px;
    white-space: nowrap;
  }
  
  .screen-detail .light-s-2-detail {
    height: 23px;
    left: 474px;
    position: absolute;
    top: 386px;
    width: 24px;
  }
  
  .exit-meetingDetail {
    width: 25px;
    position: relative;
    left: 830px;
    top: 20px;
    cursor: pointer;
  }