.screen-todo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;
    position: absolute;
    left: 0px;
    top: 270px;
  }
  
  .screen-todo .div-todo {
    background-color: #ffffff;
    height: 1080px;
    position: relative;
    width: 1920px;
  }
  
  .screen-todo .overlap-group-todo {
    height: 19px;
    left: 171px;
    position: absolute;
    top: 25px;
    width: 73px;
  }
  
  .screen-todo .text-wrapper-12-todo {
    color: #8c9499;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 13px;
    font-weight: 700;
    left: 1px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
  }
  
  .screen-todo .text-wrapper-13-todo {
    color: #8c9499;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 13px;
    font-weight: 900;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
  }
  
  .screen-todo .overlap-todo {
    background-color: #f5f5f5;
    border-radius: 14px;
    box-shadow: 3px 3px 12px -2px #00000040;
    height: 269px;
    left: 49px;
    position: absolute;
    top: 52px;
    width: 316px;
  }
  
  .screen-todo .group-2-todo {
    height: 5px;
    left: 181px;
    display: inline-block;
    position: absolute;
    width: 13px;
  }
  
  .screen-todo .ellipse-todo {
    border-radius: 2.4px;
    margin-left: 80px;
    position: absolute;
    margin-top: 7px;
    width: 15px;
    cursor: pointer;
  }
  
  .screen-todo .ellipse-2-todo {
    background-color: #8c9499;
    border-radius: 2.4px;
    height: 5px;
    left: 8px;
    position: absolute;
    top: 0;
    width: 5px;
  }
  
  .screen-todo .text-wrapper-14-todo {
    color: #000000;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 13px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    display: block;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    margin-top: -30px;
    margin-left: 40px;
  }
  
  .screen-todo .group-3-todo {
    height: 5px;
    left: 181px;
    position: absolute;
    top: 92px;
    width: 13px;
  }
  
  .screen-todo .text-wrapper-15-todo {
    color: #000000;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 53px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 83px;
  }
  
  .screen-todo .group-4-todo {
    height: 5px;
    left: 181px;
    position: absolute;
    top: 128px;
    width: 13px;
  }
  
  .screen-todo .text-wrapper-16-todo {
    color: #000000;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 53px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 119px;
  }
  
  .screen-todo .text-wrapper-17-todo {
    color: #000000;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 53px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 155px;
  }
  
  .screen-todo .group-5-todo {
    height: 5px;
    left: 181px;
    position: absolute;
    top: 164px;
    width: 13px;
  }
  
  .screen-todo .group-6-todo {
    height: 5px;
    left: 181px;
    position: absolute;
    top: 200px;
    width: 13px;
  }
  
  .screen-todo .text-wrapper-18-todo {
    color: #000000;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 53px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 190px;
  }
  
  .screen-todo .overlap-2-todo {
    height: 19px;
    left: 24px;
    position: absolute;
    top: 8px;
    width: 266px;
  }
  
  .screen-todo .text-wrapper-19-todo {
    color: #d9d9d9;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 13px;
    font-weight: 700;
    left: 105px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 5px;
    cursor: pointer;
  }
  
  .screen-todo .text-wrapper-20-todo {
    color: #8c9499;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 13px;
    font-weight: 700;
    left: 22px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 5px;
    cursor:pointer;
  }
  
  .screen-todo .text-wrapper-21-todo {
    color: #d9d9d9;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 13px;
    font-weight: 700;
    left: 198px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 5px;
    cursor: pointer;
  }
  
  .screen-todo .line-todo {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 1px;
    width: 266px;
  }
  
  .screen-todo .ellipse-3-todo {
    background-color: #e8f6ff;
    border-radius: 14px/13.5px;
    box-shadow: 3px 3px 12px -2px #00000040;
    height: 27px;
    width: 28px;
    display: inline-block;
  }

  .screen-todo .ellipse-3-complete-todo {
    background-color: #229eeb;
    border-radius: 14px/13.5px;
    box-shadow: 3px 3px 12px -2px #00000040;
    height: 27px;
    width: 28px;
    display: inline-block;
  }

  .todoArea {
    position: relative;
    left: 10px;
    top: 40px;
    height: 170px;
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .screen-todo .vector-wrapper-todo {
    background-color: #229eeb;
    border-radius: 14px/13.5px;
    height: 27px;
    left: 15px;
    position: absolute;
    top: 189px;
    width: 28px;
  }
  
  .screen-todo .vector-todo {
    left: 7px;
    position: absolute;
    margin-top: 7px;
    width: 15px;
  }
  
  .screen-todo .group-wrapper-todo {
    background-color: #229eeb;
    border-radius: 14px/13.5px;
    height: 27px;
    left: 275px;
    position: absolute;
    top: 228px;
    width: 28px;
  }
  
  .screen-todo .img-todo {
    height: 17px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 18px;
  }
  
  .screen-todo .rectangle-todo {
    border: 1px solid;
    border-color: #000000;
    border-radius: 22px;
    height: 29px;
    left: 18px;
    position: absolute;
    top: 227px;
    width: 247px;
  }
  