<?xml version="1.0" encoding="UTF-8"?>
<!-- <beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<tx:annotation-driven/>
	JPA Repository 사용
	<jpa:repositories base-package="noticeboard.repository" />
	
	
	
	<bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:tcp://localhost/~/test"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>
    
    
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
	
	    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
	        <property name="dataSource" ref="dataSource"/>
	        <property name="packagesToScan" value="noticeboard.entity"/> @Entity 탐색 시작 위치
	        <property name="jpaVendorAdapter">
	        하이버네이트 구현체 사용
	        <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
	        </property>
	        
	        캐시 모드 사용
	        <property name="sharedCacheMode" value="ENABLE_SELECTIVE"></property>
	         
	        
	        <property name="jpaProperties"> 하이버네이트 상세 설정
	            <props>
	                <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop> 방언
                	<prop key="hibernate.show_sql">true</prop>                   SQL 보기
                	<prop key="hibernate.format_sql">true</prop>                 SQL 정렬해서 보기
                	<prop key="hibernate.use_sql_comments">true</prop>           SQL 코멘트 보기
                	<prop key="hibernate.id.new_generator_mappings">true</prop>  새 버전의 ID 생성 옵션
                	<prop key="hibernate.hbm2ddl.auto">update</prop>             DDL 자동 생성
                	<prop key="hibernate.default_batch_fetch_size">1000</prop>
                	캐시 설정
                	<prop key="hibernate.cache.use_second_level_cache">true</prop>
                	<prop key="hibernate.cache.use_query_cache">true</prop>
                	<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>
                	<prop key="hibernate.generate_statitics">true</prop>
	            </props>
	        </property>
	    </bean>
</beans> -->